<article class="notice" id="<%= dom_id menu_item %>">
  <%= if menu_item.image_url.present?
    image_tag menu_item.image_url, style: "max-width: 300px; max-height: 300px;"
  end %>

  <p>
    <strong>
      <%= menu_item.name %>,
    </strong>
    <%= menu_item.price / 100.to_d %>
    <%= t("config.currency") %>
  </p>

  <%= button_to add_to_cart_path(menu_item) do %>
    <i class="fa-solid fa-cart-arrow-down"></i>
    <%= t(".add_to_cart") %>
    <mark><%= menu_item.items_in_cart(@current_order) %></mark>
  <% end %>
  <%#= @current_order&.menu_items&.include?(menu_item) %>
</article>
