<blockquote id="<%= dom_id menu_item %>">
  <%= image_tag menu_item.image_url, style: "max-width: 300px;" if menu_item.image_url.present? %>

  <p>
    <strong>
      <%= menu_item.name %>,
    </strong>
    <%= menu_item.price/100.to_d %> PLN
  </p>

  <%= button_to add_to_cart_path(menu_item), method: :post do %>
    <i class="fa-solid fa-cart-arrow-down"></i>
    Add to cart
  <% end %>
  <%#= @current_order&.menu_items&.include?(menu_item) %>
  <%# Items in cart: %>
  <%= menu_item.items_in_cart(@current_order) %>
</blockquote>
