<blockquote id="<%= dom_id menu_item %>">
  <%= image_tag menu_item.image_url, style: "max-width: 300px;" if menu_item.image_url.present? %>

  <p>
    <strong>
      <%= menu_item.name %>,
    </strong>
    <%= menu_item.price/100.to_d %> PLN
  </p>

  <p>
    Category:
    <%= menu_item.menu_category %>
  </p>

  <%= link_to edit_menu_item_path(menu_item) do %>
    <i class="fa-solid fa-pencil"></i>
    Edit
  <% end %>
  <% if menu_item.order_items.none? %>
    <%= button_to menu_item, method: :delete do %>
      <i class="fa-solid fa-trash"></i>
      Destroy
    <% end %>
  <% end %>
</blockquote>
