<article id="<%= dom_id order %>">
  <p>
    <strong>Order #</strong>
    <%= order.id %>, (<%= order.created_at.strftime("%d %h %Y, %H:%M") %>)
  </p>

  <p>
    <mark>
      <%= order.status %>
    </mark>
  </p>

  <p>
    <strong>Items ordered:</strong>
    <%= order.order_items.map(&:quantity).sum %>
    <%#= order.order_items.count %>
  </p>

  <% if action_name != "show" %>
    <%= link_to [:admin, order] do %>
      Show this order
    <% end %>
  <% end %>
</article>
