<article id="<%= dom_id order %>">
  <p>
    <strong>Order #</strong>
    <%= order.id %>, (<%= order.created_at.strftime("%d %h %Y, %H:%M") %>)
  </p>

  <p id="order_status">
    <%= render partial: "orders/status", locals: { order: order } %>
  </p>

  <p>
    <strong>Delivery:</strong>
    <kbd><%= order.delivery_details %></kbd>
  </p>

  <% if action_name != "show" %>
    <%= link_to [:admin, order] do %>
      <strong>Items ordered:</strong>
      <%= order.order_items.map(&:quantity).sum %>
    <% end %>
  <% end %>

  <% if order.next_status.present? %>
    <%= button_to admin_order_path(order.id), params: {order: { id: order.id, status: order.next_status }}, method: :put do %>
      <%= order.status %>
      ->
      <%= order.next_status %>
    <% end %>
  <% end %>
</article>
