<footer>
  <div>
    <%= t("config.trade_name") %>
    ©
    <%= Time.zone.now.year %>
  </div>

  <div>
    <%= render "shared/social_links" %>
  </div>

  <div>
    <%= t("config.address") %>
  </div>

  <div>
    <%= t("config.trade_vat_number") %>
  </div>

  <div>
    <%= mail_to t("config.email") %>
  </div>

  <div>
    <%= t("config.phone") %>
  </div>

  <div>
    <%= link_to admin_orders_path do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.orders.index.title") %>
    <% end %>
  </div>

  <div>
    <%= link_to [:admin, :products] do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.products.index.title") %>
    <% end %>
  </div>

  <div>
    <%= link_to admin_stats_path do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.stats.index.title") %>
    <% end %>
  </div>
</footer>
