<footer>
  <div>
    <%= Setting.trade_name %>
    ©
    <%= Time.zone.now.year %>
  </div>

  <div>
    <%= render "shared/social_links" %>
  </div>

  <div>
    <%= Setting.address %>
  </div>

  <div>
    <%= Setting.trade_vat_number %>
  </div>

  <div>
    <%= mail_to Setting.email %>
  </div>

  <div>
    <%= Setting.phone %>
  </div>

  <div>
    <%= link_to admin_orders_path do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.orders.index.title") %>
    <% end %>
  </div>

  <div>
    <%= link_to [:admin, :products] do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.products.index.title") %>
    <% end %>
  </div>

  <div>
    <%= link_to admin_stats_path do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.stats.index.title") %>
    <% end %>
  </div>

  <div>
    <%= link_to [:admin, :settings] do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.settings.index.title") %>
    <% end %>
  </div>
</footer>
