<nav id="nav">
  <%= active_link_to products_path do %>
    <i class="fa-solid fa-list"></i>
    <%= t("products.index.title") %>
  <% end %>

  <% if I18n.t("config.public_order_queue") %>
    <%= active_link_to queue_path do %>
      <i class="fa-solid fa-stopwatch"></i>
      <%= t("queue.index.title") %>
    <% end %>
  <% end %>

  <%= active_link_to orders_path do %>
    <i class="fa-solid fa-clock-rotate-left"></i>
    <%= t("orders.index.title") %>
  <% end %>

  <% if @current_order %>
    <%= active_link_to @current_order do %>
      <%#= @current_order.id %>
      <i class="fa-solid fa-cart-shopping"></i>
      <mark><%= @current_order.order_items.map(&:quantity).sum %></mark>
    <% end %>
  <% end %>
</nav>
