<%= turbo_stream_from [order, :status] %>

<article id="<%= dom_id order %>">
  <p>
    <strong>Order #</strong>
    <%= order.id %>, (<%= order.created_at.strftime("%d %h %Y, %H:%M") %>)
  </p>

  <p id="order_status">
    <%= render partial: "orders/status", locals: { order: order } %>
  </p>

  <p>
    <strong>Delivery:</strong>
    <kbd><%= order.delivery_details %></kbd>
  </p>

  <% if action_name != "show" %>
    <%= link_to order do %>
      <strong>Items ordered:</strong>
      <%= order.order_items.map(&:quantity).sum %>
    <% end %>
  <% end %>

  <%= button_to order_path(order), params: {order: { id: order.id, status: Order.statuses[:submitted] }}, method: :put, disabled: !order.draft? do %>
    <i class="fa-solid fa-credit-card"></i>
    <%= order_pay_label(order) %>
    <%= order.total_price / 100.to_d %>
    PLN
  <% end %>

  <% if order.done? %>
    <hr>
    Please rate your order
    <div style="display: flex; justify-content: space-between;">
      <%= button_to order_path(order), params: {order: { id: order.id, rating: 1 }}, method: :put, disabled: order.rating.equal?(1) do %>
        <i class="fa-solid fa-face-dizzy"></i>
      <% end %>
      <%= button_to order_path(order), params: {order: { id: order.id, rating: 10 }}, method: :put, disabled: order.rating.equal?(10) do %>
        <i class="fa-solid fa-face-grin-stars"></i>
      <% end %>
    </div>
  <% end %>
</article>
