<article id="<%= dom_id order %>">
  <p>
    <strong>Order #</strong>
    <%= order.id %>
  </p>

  <p>
    <strong>Status:</strong>
    <mark>
      <%= order.status %>
    </mark>
  </p>

  <%#= order.session_uid %>

  <p>
    <strong>Items ordered:</strong>
    <%= order.order_items.map(&:quantity).sum %>
    <%#= order.order_items.count %>
  </p>

<% if order.draft? %>
  <%= button_to order_path(order.id), params: {order: { id: order.id, status: Order.statuses[:processing] }}, method: :put do %>
    <i class="fa-solid fa-credit-card"></i>
    Complete order:
    <%= order.total_price/100.to_d %> PLN
  <% end %>
<% end %>

</article>
