<article id="<%= dom_id order %>">
  <p>
    <strong>Order #</strong>
    <%= order.id %>, (<%= order.created_at.strftime("%d %h %Y, %H:%M") %>)
  </p>

  <p>
    <mark>
      <%= order.status %>
    </mark>
  </p>

  <p>
    <strong>Delivery:</strong>
    <kbd><%= order.delivery_details %></kbd>
  </p>

  <% if action_name != "show" %>
    <%= link_to order do %>
      <strong>Items ordered:</strong>
      <%= order.order_items.map(&:quantity).sum %>
    <% end %>
  <% end %>

  <%= button_to order_path(order.id), params: {order: { id: order.id, status: Order.statuses[:submitted] }}, method: :put, disabled: !order.draft? do %>
    <i class="fa-solid fa-credit-card"></i>
    <%= order_pay_label(order) %>
    <%= order.total_price/100.to_d %> PLN
  <% end %>
</article>
