<article id="<%= dom_id product %>">
  <%= image_tag product.image_url, style: "max-width: 300px;" if product.image_url.present? %>

  <p>
    <h5>
      <%= link_to_unless_current highlight(product.name, params[:query]), product %>
    </h5>
    <%= product.price / 100.to_d %>
    <%= Setting.currency %>
  </p>

  <p><%= product.description %></p>

  <%= link_to [:edit, :admin, product] do %>
    <i class="fa-solid fa-pencil"></i>
    Edit
  <% end %>
  <% if product.order_items.none? %>
    <%= button_to [:admin, product], method: :delete do %>
      <i class="fa-solid fa-trash"></i>
      Destroy
    <% end %>
  <% end %>
</article>
