<blockquote id="<%= dom_id order_item %>">
  <%= image_tag order_item.menu_item.image_url, style: "max-width: 100px;" if order_item.menu_item.image_url.present? %>

  <p>
    <strong>Menu item:</strong>
    <%= order_item.menu_item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_item.quantity  %>
    X
    <%= order_item.menu_item.price/100  %>
    PLN =
    <%= order_item.quantity * order_item.menu_item.price/100  %>
  </p>

  <%= order_item.id %>
  <%= button_to "Destroy this order item", [order_item.order, order_item], method: :delete %>
</blockquote>
