<blockquote id="<%= dom_id order_item %>">
  <%= image_tag order_item.product.image_url, style: "max-width: 100px;" if order_item.product.image_url.present? %>

  <p>
    <%= order_item.product.name %>,
    <%= order_item.product.category %>
  </p>

  <p>
    <%= order_item.quantity %>
    X
    <%= order_item.product.price / 100.to_d %>
    <%= t("config.currency") %>
    =
    <%= order_item.total_price / 100.to_d %>
    <%= t("config.currency") %>
  </p>

  <%= button_to [order_item.order, order_item], method: :delete, disabled: !@order.draft? do %>
    <i class="fa-solid fa-trash"></i>
    <%= t(".remove") %>
  <% end %>
</blockquote>
