<article id="<%= dom_id product %>">
  <%= link_to product do %>
    <%= image_tag product.image_url, style: "max-width: 300px; max-height: 300px;" if product.image_url.present? %>
  <% end %>

  <p>
    <%= link_to_unless_current highlight(product.name, params[:query]), product %>,
    <%= product.price / 100.to_d %>
    <%= t("config.currency") %>
  </p>

  <p><%= product.description %></p>

  <%= button_to add_to_cart_path(product) do %>
    <i class="fa-solid fa-cart-arrow-down"></i>
    <%= t(".add_to_cart") %>
    <mark><%= product.items_in_cart(@current_order) %></mark>
  <% end %>
  <%#= @current_order&.products&.include?(product) %>
</article>
