<%= form_with url: url_for, method: :get do |form| %>
  <%= form.search_field :query, value: params[:query], placeholder: t(".placeholder"), autocomplete: "off", autocorrect: "off" %>

  <%= form.collection_radio_buttons :category, Product.categories, :first, :last, checked: params[:category] do |b| %>
    <div>
      <%= b.radio_button %>
      <%= b.label %>
    </div>
  <% end %>

  <%= form.submit t(".submit") %>
<% end %>
