<%= form_with url: url_for, method: :get do |form| %>
  <%= form.search_field :query, value: params[:query], placeholder: t(".placeholder"), autocomplete: "off", autocorrect: "off" %>

  <div>
    <%= form.radio_button :category, "", onchange: "this.form.requestSubmit()", checked: params[:category].blank? %>
    <%= form.label :category, t(".all"), value: "" %>
  </div>

  <% @categories.each do |value| %>
    <div>
      <%= form.radio_button :category, value, onchange: "this.form.requestSubmit()", checked: params[:category].to_s == value.to_s %>
      <%= form.label :category, I18n.t("activerecord.attributes.product.categories.#{value}"), value: value %>
    </div>
  <% end %>

  <%= form.submit t(".submit") %>
<% end %>
