<article class="notice" id="<%= dom_id menu_item %>">
  <%= if menu_item.image_url.present?
    image_tag menu_item.image_url, style: "max-width: 300px;"
  end %>

  <p>
    <strong>
      <%= menu_item.name %>,
    </strong>
    <%= menu_item.price / 100.to_d %>
    PLN
  </p>

  <p>
    Category:
    <%= menu_item.menu_category %>
  </p>

  <%= link_to [:edit, :admin, menu_item] do %>
    <i class="fa-solid fa-pencil"></i>
    Edit
  <% end %>
  <% if menu_item.order_items.none? %>
    <%= button_to [:admin, menu_item], method: :delete do %>
      <i class="fa-solid fa-trash"></i>
      Destroy
    <% end %>
  <% end %>
</article>
