<!DOCTYPE html>
<html>
  <head>
    <title><%= t("config.app_name") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body>
    <header>
      <h1>
        <i class="fa-solid fa-utensils"></i>
        <%= t("config.app_name") %>
      </h1>
      <p>
        <%= t("config.description") %>
        <%# TODO: display table delivery %>
        <%#= session[:table_delivery] %>
      </p>
      <%= render "shared/nav" %>
    </header>
    <main>
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
