<!DOCTYPE html>
<html>
  <head>
    <title>Restorder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
        StepByStep Menu
      </h1>
      <nav>
        <%= link_to queue_path do %>
          <i class="fa-solid fa-stopwatch"></i>
          Queue
        <% end %>
        <%= link_to menu_path do %>
          <i class="fa-solid fa-list"></i>
          Menu
        <% end %>
        <%= link_to orders_path do %>
          <i class="fa-solid fa-clock-rotate-left"></i>
          My Orders:
          <%= @my_orders&.count %>
        <% end %>
        <% if @current_order %>
          <%= link_to @current_order do %>
            <%#= @current_order.id %>
            <i class="fa-solid fa-cart-shopping"></i>
            <%= @current_order.order_items.map(&:quantity).sum %>
          <% end %>
        <% end %>
      </nav>
    </header>
    <main>
      <p style="color: green"><%= notice %></p>
      <%= yield %>
    </main>
    <footer>
      Made in
      <%= Time.zone.now.year %>
      by Yaro, Marek, Szymon
    </footer>
  </body>
</html>
