<!DOCTYPE html>
<html>
  <head>
    <title>Restorder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
        <i class="fa-solid fa-utensils"></i>
        StepByStep Menu
        <%= session[:table_delivery] %>
      </h1>
      <%= render 'shared/header' %>
    </header>
    <main>
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
